<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li>
      User: {{ user.username }}
    </li>
    <li>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="button" type="submit">Logout</button>
      </form>
    </li>
  {% else %}
    <li>
      <a class="button" href="{% url 'login' %}">Login</a>
    </li>
  {% endif %}
  <br>
  <li>
    <a href="{% url 'newspaper:index' %}">Our home page</a>
  </li>
  <li>
    <a href="{% url 'newspaper:topic-list' %}">All topics</a>
  </li>
  <li>
    <a href="{% url 'newspaper:newspaper-list' %}">All newspapers</a>
  </li>
  <li>
    <a href="{% url 'newspaper:redactor-list' %}">All redactors</a>
  </li>
</ul>
