{% extends 'base.html' %}
{% block content %}
  <h1 style="display: inline-block;">Articles list</h1>
  <a href="{% url 'newspaper:newspaper-create' %}" class="button" style="float: right;">Create new Article</a>
  
  <div>
    <a href="?order=asc">Sort by oldest</a> |
    <a href="?order=desc">Sort by newest</a>
  </div>

  {% if newspaper_list %}
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Topic</th>
          <th>Publish Date</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for newspaper in newspaper_list %}
          <tr>
            <td><a href="{% url 'newspaper:newspaper-detail' newspaper.id %}">{{ newspaper.title }}</a></td>
            <td>{{ newspaper.topic.name }}</td>
            <td>{{ newspaper.publish_date }}</td>
            <td>
              <a href="{% url 'newspaper:newspaper-update' pk=newspaper.id %}">UPDATE</a>
            </td>
            <td>
              <a href="{% url 'newspaper:newspaper-delete' pk=newspaper.id %}">DELETE</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>There are no Newspapers</p>
  {% endif %}

{% endblock %}
