{% extends "layouts/base-presentation.html" %}
{% block content %}
<header class="header-2">
    <div class="page-header section-height-75 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/curved-images/NEWIMAGE.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white pt-3 mt-n5" style="overflow: hidden; text-overflow: ellipsis;">{{ newspaper.title }}</h1>
          </div>
        </div>
      </div>
</header>
<div class="container col-md-8 mx-auto" style="background-color: ger; padding: 20px; margin-top: -50px;">
  <p class="lead">
    <strong>Written by: {{ newspaper.redactors.all|join:", " }}</strong><br>
    <em>Publish date: {{ newspaper.publish_date }}</em>
  </p>
  <p class="text-center">{{ newspaper.content|linebreaks }}</p>
</div>
{% endblock content %}
