{% extends 'base.html' %}
{% block content %}
  <h1>{{ redactor.username }}</h1>
  <p><strong>Name: {{ redactor.first_name }} {{ redactor.last_name }}</strong></p>
  <p>Years of experience: {{ redactor.years_of_experience }} years</p>

  <h2>Articles by this author:</h2>
  {% if redactor.newspapers.all %}
    <ul>
      {% for newspaper in redactor.newspapers.all %}
        <li>
          <a href="{% url 'newspaper:newspaper-detail' newspaper.id %}">{{ newspaper.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>This author has no articles.</p>
  {% endif %}
{% endblock %}
