{% extends 'base.html' %}
{% block content %}
  <h1>{{ topic.name }}</h1>

  {% if topic.newspapers.all %}
    <ul>
      {% for newspaper in topic.newspapers.all %}
        <li>
          <a href="{% url 'newspaper:newspaper-detail' newspaper.id %}">{{ newspaper.title }}</a>
          by 
          {% for redactor in newspaper.redactors.all %}
            {% if forloop.last and forloop.counter > 1 %}
              and <strong>{{ redactor.username }}</strong>
            {% elif not forloop.first %}
              , <strong>{{ redactor.username }}</strong>
            {% else %}
              <strong>{{ redactor.username }}</strong>
            {% endif %}
          {% endfor %}
          at <em>{{ newspaper.publish_date }}</em>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no articles on this topic.</p>
  {% endif %}

{% endblock %}
